.App {
  
  text-align: center;
}

input {
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
}

ul {
  display: grid;
  place-items: center;
}
li{
  list-style-type: none;
  width: 200px;
  height: 20px;
  background-color: aquamarine;
  margin: 10px;
  padding: 20px;
  color: blueviolet;
  font-family: monospace;
  font-size: 23px;
  text-align: center;
}

.taskDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskDisplay button {
  margin: 20px;
  padding: 10px;
}
